body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Andale Mono", monospace;
}

.margin-top-50px {
    margin-top: 50px;
}

#board {
    margin: 0 auto;
    height: 500px;
    line-height: 500px;
    width: 1000px;
    background-color: blue;
}

.square-white {
    height:25;
    width:25;
    border:1px solid blue;
    background-color:white;
    float:left;
}

.square-red {
    height:25;
    width:25;
    border:1px solid blue;
    background-color:red;
    float:left;
}

.square-black {
    height:25;
    width:25;
    border:1px solid blue;
    background-color:black;
    float:left;
}

.square-blue {
    height:25;
    width:25;
    border:1px solid blue;
    background-color:blue;
    float:left;
}